---
http_interactions:
- request:
    method: post
    uri: https://api.nfse.io/v2/companies/5c98f9b312708e0eccc14c0a/productinvoices
    body:
      encoding: UTF-8
      string: '{"borrower":{"federalTaxNumber":"01946377198","name":"Ricardo Caldeira","email":"ricardo.nezz@mailinator.com","address":{"country":"BRA","postalCode":"22231110","street":"Rua
        Do Cliente","number":"1310","additionalInformation":"AP 202","district":"Centro","city":{"code":4204202,"name":"Chapecó"},"state":"SC"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e12cmDevG5iLhSd9Y7BOpxynL86Detjd2R1D5jsP5UGXA8gwxug0Vojl3H9TIzBpbhI
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":40001,"message":"buyer cannot be null"}]}'
  recorded_at: Wed, 19 Jun 2019 18:18:42 GMT
recorded_with: VCR 5.0.0
