---
http_interactions:
- request:
    method: post
    uri: https://api.nfse.io/v2/companies
    body:
      encoding: UTF-8
      string: '{"name":"MyCompany","federaltaxnumber":54458287000127,"email":"empresa@teste.com.br","openningdate":"21/02/2005","taxregime":"LucroReal","legalnature":"EmpresaPublica","municipaltaxnumber":2}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e12cmDevG5iLhSd9Y7BOpxynL86Detjd2R1D5jsP5UGXA8gwxug0Vojl3H9TIzBpbhI
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":40001,"message":"Company is null"}]}'
  recorded_at: Tue, 18 Jun 2019 18:20:56 GMT
recorded_with: VCR 5.0.0
